{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",

  "ConnectionStrings": {
    "PiggyContext": "Server= ;Database= ;User Id= ;Password= ;TrustServerCertificate=true"
  }
}
